#ISC_toolbox {

}

#ISC_content {
    bottom: 215px;
    min-height: 150px;
}

#ISC_input {
    bottom: 182px;
    height: 30px;
}

#ISC_content,#ISC_input {
    position: fixed;
    margin-left: 890px;
    background-color: rgba(80, 210, 255, 0.5);
    box-shadow: 1px 1px 3px 0px #a3a3a3;
    width: 200px;
    z-index: 10;
}

#ISC_info {
    position: fixed;
    bottom: 126px;
    margin-left: 1042px;
    text-align: center;
    padding-top: 5px;
    color: #ffffff;
    height: 48px;
    width: 48px;
    background-color: rgb(80, 210, 255);
}

#ISC_info:hover {
    border-radius: 10px;
    box-shadow: 2px 2px 5px 0px #a3a3a3;
}

#ISC_info,.ISC_keyword  {
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
}

#ISC_info:active {
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
}

.ISC_keyword {
    margin: 5px;
    padding: 1px 2px;
    display: inline-block;
    background-color: #cdcdcd;
    color: #000;
    cursor: pointer;
    box-shadow: 2px 2px 4px 0px #a3a3a3;
}

.ISC_keyword:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
}

#filterInput, #filterButton {
    margin: 3px 2px;
}

#ISC_node_copy {
    opacity: 0.4;
}