#ISC_toolbox {

}

/* 51job */
/* #ISC_content {
    bottom: 215px;
    min-height: 150px;
} */

/* zlzp */
#ISC_content {
    bottom: 106px;
    min-height: 150px;
}

/* 51job */
/* #ISC_input {
    bottom: 182px;
    height: 30px;
} */

/* zlzp */
#ISC_input {
    bottom: 73px;
    height: 30px;
}

/* 51job */
/* #ISC_content,#ISC_input {
    position: fixed;
    margin-left: 890px;
    box-shadow: 1px 1px 3px 0px #a3a3a3;
    width: 200px;
    opacity: 0.75;
    z-index: 10;
} */

/* zlzp */
#ISC_content,#ISC_input {
    position: fixed;
    margin-left: 800px;
    box-shadow: 1px 1px 3px 0px #a3a3a3;
    width: 200px;
    opacity: 0.75;
    z-index: 10;
}

 /* 51job */
/* #ISC_info {
    position: fixed;
    bottom: 126px;
    margin-left: 1042px;
    text-align: center;
    padding-top: 5px;
    height: 48px;
    width: 48px;
} */

/* zlzp */
#ISC_info {
    position: fixed;
    bottom: 22px;
    margin-left: 800px;
    text-align: center;
    padding-top: 5px;
    height: 48px;
    width: 48px;
}

#ISC_content,#ISC_input,#ISC_info {
    background-color: #ecf5ff;
    border: 1px solid #409eff;
    color: #409eff;
}

#ISC_info:hover {
    border-radius: 10px;
    box-shadow: 2px 2px 5px 0px #a3a3a3;
}

#ISC_info,.ISC_keyword  {
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
}

#ISC_info:active {
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
}

.ISC_keyword {
    margin: 5px;
    padding: 1px 2px;
    display: inline-block;
    background-color: #cdcdcd;
    color: #000;
    cursor: pointer;
    box-shadow: 2px 2px 4px 0px #a3a3a3;
}

.ISC_keyword:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
}

#filterInput, #filterButton {
    margin: 3px 2px;
}

/* zlzp */
#filterInput {
    line-height: initial;
    background: #fff;
    width: 155px;
    height: 21px;
    border: 1px solid #aaa;
}

/* zlzp */
#filterButton {
    border: 1px solid #aaa;
    background-color: #eee;
    width: 31px;
    height: 22px;
    font-size: 14px;
    margin-bottom: 6px;
}

#ISC_node_copy {
    opacity: 0.4;
}
